* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0px 0px 0px;
    margin: 0;
    border-bottom: 1px solid black;
}

h1 {
    padding: 0px 20px;
}

nav {
    background-color: white;
    color: black;
    padding: 10px 20px;
}

a {
    color: black;
    text-decoration: none;
}

.nav {
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 10px;
}

.image {
    width: 90%;
    display: block;
    margin: 20px auto 0px auto;
}

p {
    margin: 5px 20px;
}

.heading {
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 10px;
    margin: 30px 0px 10px 20px;
}


.logo {
    padding: 20px 100px;
    text-align: center;
    border: 1px solid black;
    margin: 0px 20px 20px 20px;
}

.contact {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 20px;
}
.contactlink {
    color: white;
    text-decoration: underline;
    display: block;
}

.phone {
    margin: 0px 0px 20px 0px;
    display: block;
}

.bio-text {
    background-color: white;
    color:black;
    padding: 20px;
    border-left: 1px solid black;
}

table {
    margin: 20px;
}