* {
    box-sizing: border-box;
}


body {
    margin: 0px;
    font-family: 'Roboto Slab', serif;
    font-size: 112.5%;
}

a {
    text-decoration: none;
    outline: none;
}


/* ========================= Header ======================= */

header {
    background-color: black;
    color: white;
    padding: 20px 0px 0px 0px;
    margin: 0;
    border-bottom: 1px solid black;
}

.title {
    margin-left: 20px;
}

nav {
    background-color: white;
    color: black;
    padding: 10px 20px;
}

.nav {
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 10px;
    text-decoration: none;
    color: black;
}

/* =========================== Intro ============================*/

.image {
    width: 90%;
    display: block;
    margin: 20px auto 0px auto;
}

.image-text {
    margin: 5px 20px;
    font-style: italic;
}

.heading {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding-left: 5px;
    padding-right: 10px;
    margin: 30px auto;
    width: 90%;
}

.intro ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0px auto;
    padding: 0px;
    width: 80%;
}

.intro li {
    padding: 8px 20px;
    color: white;
    background-color: black;
    border-radius: 2px;
    margin: 7px;
    font-family:;
    font-size: 100%;
    font-weight: 300;
    
}



/* ========================= Contact ====================================*/

.contact {
    background-color: black;
    color: white;
    padding: 20px;
    margin: 50px auto 30px auto;
    font-size: 120%;
    width: 90%
}

.contactlink {
    color: white;
    text-decoration: underline;
    display: block;
}

.phone {
    margin: 0px 0px 20px 0px;
}

/* =================================== Socials ==========================*/

.profiles {
    background-color: black;
    padding: 20px 0px;
}

.logo-box {
    background-color: white;
    padding: 20px 50px;
    margin: 30px auto;
    width: 70%;
    height: 100%;
    display: block;
    box-shadow: -12px 13px 0px -1px rgba(148,148,148,1);
    border-radius: 5%;
    opacity: 100%;
}

.logo {
    width: 100%;
}

/* ================================= Biography ===================================*/

.bio-text {
    background-color: white;
    color:black;
    padding: 20px;
    border-left: 1px solid black;
}

.biography ul {
    display: grid;
    grid-gap: 5px;
    grid-row-gap: 20px;
    grid-template-columns: 15% 85%;
    list-style: none;
    width: 90%;
    padding: 0px;
    margin: 30px auto ;
}

.timeline {
    letter-spacing: 0.1em;
}

.italic {
    font-style: italic;
    font-weight: 300;
}

.jahr20 {
    grid-row: 1;
    border-right: 1px solid black;
}
.jahr18 {
    grid-row: 2;
    border-right: 1px solid black;
}
.jahr17 {
    grid-row: 3;
    border-right: 1px solid black;
}
.jahr14 {
    grid-row: 4;
    border-right: 1px solid black;
}
.jahr07 {
    grid-row: 5;
    border-right: 1px solid black;
}


/* =============================== Footer ================================= */

footer {
    background-color: black;
    padding: 10px 0px;
    text-align: center;
}

footer div {
    margin: 5px auto;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
    width: 70%;
}

.back {
    color: white;
    border-left: 1px solid white;
    padding-left: 5px;
}

