@import './Header.css';
@import './Button.css';
@import './Showcase.css';
@import './Biography.css';
@import './Skills.css';
@import './Timeline.css';
@import './color.css';
@import './utility.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'Roboto Slab', serif;
  font-size: 112.5%;
  background: var(--gray);
}

a {
  text-decoration: none;
  outline: none;
}

@media only screen and (min-width: 992px) {
  body {
    margin: 0 15%;
  }

  main {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
  }

  @media only screen and (min-width: 1920px) {
    body {
      font-size: 150%;
    }
  }
}
